<h1>Listing product</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @productsas.each do |productsa| %>
  <tr>
    <td><%= productsa.name %></td>
    <td><%= productsa.price %></td>
    <td><%= link_to 'Show', productsa %></td>
    <td><%= link_to 'Edit', edit_productsa_path(productsa) %></td>
    <td><%= link_to 'Destroy', productsa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Products', new_productsa_path %>
